# Python Virtual Environment
.venv/
node_modules/
__pycache__/
*.py[cod]

# Poetry
dist/
.recommenders/

# Temporary and Log files
*.pdf
going_to_commit.txt

log
log.txt

error
error.txt

chatlog_tmp
